html {
  box-sizing: border-box;
  font-size: 17px;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #E0FBFC;
}

div {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #D46A6A;
}

h1 {
  font-family: 'Contrail One', cursive;
  font-size: 3.5rem;
  font-weight: bolder;
  margin-top: 1rem;
}

h5 {
  font-size: 2rem;
  font-weight: lighter;
}

img {
  width: 96%;
  height: auto;
}

@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

.container {
  min-width: 100%;
  text-align: center;
}

.inner-container {
  margin: 0 auto;
  position: relative;
  padding: 1rem;
}

#large-glass {
  display: block;
}

#medium-glass {
  display: none;
}
#small-glass {
  display: none;
}

@media (max-width: 900px) {
  #large-glass {
    display: none;
  }
  #medium-glass {
    display: block;
  }
  #small-glass {
    display:none;
  }
}

@media (max-width: 590px) {
  #large-glass {
    display: none;
  }
  #medium-glass {
    display: none;
  }
  #small-glass {
    display:block;
  }
}

.link-container {
  margin-top: 1rem;
}

.link {
  display: inline-block;
  margin-right: 1.7rem;
}

.link h5 {
  margin: 0 auto;
  width: 143px;
}

@media (max-width: 590px) {
  .link {display: block}
}

.show-content{
  display: none;
  text-align: center;
}

.work-cont {
  display: none;
  text-align: center;
}

.work-item {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.work-item:hover .image{
  filter:none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 2s ease;
  background-color: aquamarine;
  clip-path: polygon(0 30%,0 100%,100% 70%,100% 0);
}

.work-item:hover .overlay {
  opacity: 1;
}

.text {
  color: #CBC5EA;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text h3 {
  font-family: 'Contrail One', cursive;
  font-size: 2em;
  color: #D46A6A;
  margin-bottom: 0.5em;
}

.text p {
  min-width: 500px;
  display: inline-block;
}

@media (max-width: 500px) {
  .text p {
    display: none;
  }
}

.about-content {
  font-size: 21px;
  font-weight: 300;
  text-align: justify;
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
  line-height: 200%;
}

.about-content p {

}

.contact-content p {
 font-size: 2rem;
 margin-top: 1rem;
}

.icon-links a {
  margin: 50 20px;
  text-align: center;
  color: black;
  font-size: 2rem;
  text-decoration: none;
}
.icon-links i {
  margin: 30px;
}

.header-ani {
  animation: blinker 2s linear 3;
  animation-delay: 5s;
}

@keyframes blinker {
  50% { color: aquamarine; }
}
