body {
  margin: 0;
  background: #000;
  font-family: 'Josefin Sans', sans-serif;
  color: ghostwhite;
}
/*video {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
transform: translateX(-50%) translateY(-50%);
/*background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
/*background-size: cover;
transition: 1s opacity;*/
/*}*/
/*.stopfade {
opacity: .5;*/
/*}*/

h1 {
  color: ghostwhite;
  text-align: center;
  font-size: 100px;
}
h5 {
  margin: 30px;
  font-size: 38px;
}

.link {
  text-align: center;
  display: inline;
}

.icon-links a {
  margin: 50 20px;
  text-align: center;
  color: ghostwhite;
  font-size: 50px;
  text-decoration: none;
}
.icon-links i {
  margin: 30px;
}

.link a {
  color: ghostwhite;
  text-decoration: none;
  /*text-align: center;*/
  display: inline;
}

a:hover {
  color: aquamarine;
  cursor: pointer;
}

a:checked {
  color: papayawhip;
}

.show-content{
  display: none;
  text-align: center;
}

.holding-frame {
  text-align: center;
  min-height: 450px;
  margin: 0 auto;
  width: 85%;
  border: 6px solid;
  overflow-y: scroll;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.work-cont {
  height: 600px;
  overflow: scroll;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {border-color: aquamarine;}
  25%  {border-color: pink;}
  50%  {border-color: mediumaquamarine;}
  100% {border-color: papayawhip;}
}

.header-ani {
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  animation-name: kali;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

/* Standard syntax */
@keyframes kali {
  0%   {color: aquamarine;}
  25%  {color: pink;}
  50%  {color: mediumaquamarine;}
  100% {color: papayawhip;}
}

@keyframes kali {
  0%   {color: aquamarine;}
  25%  {color: pink;}
  50%  {color: mediumaquamarine;}
  100% {color: papayawhip;}
}

.about-content {
  width: 80%;
  font-size: 18px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
}


span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}


/* ============================================================
  GLOBAL
============================================================ */
.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 25%;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 0.5s;
}

/*a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}*/
/*a.close-overlay.hidden {
  display: none;
}*/

a.expand {
  /*display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  border-radius: 30px;*/
}

/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#effect-1 .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .overlay a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
#effect-1 .img.hover .overlay {
  height: 100%;
}
